<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Medians</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container">
        <a href="/">Back to Home</a>
        <h1>Medians</h1>
        <table id="medians-table" class="display">
            <thead>
                <tr>
                    <th>Team Number</th>
                    <th>Matches Played</th>
                    <th>Mobility</th>
                    <th>Defending</th>
                    <th>Starting Position</th>
                    <th>Auto Coral 1</th>
                    <th>Auto Coral 2</th>
                    <th>Auto Coral 3</th>
                    <th>Auto Coral 4</th>
                    <th>Auto Algae Pro</th>
                    <th>Auto Algae Net</th>
                    <th>Tele Coral 1</th>
                    <th>Tele Coral 2</th>
                    <th>Tele Coral 3</th>
                    <th>Tele Coral 4</th>
                    <th>Tele Algae Pro</th>
                    <th>Tele Algae Net</th>
                    <th>Human Player</th>
                    <th>Ground Pickup</th>
                    <th>Feeder</th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $.getJSON("/api/medians", function(data) {
                let table = $('#medians-table').DataTable({
                    data: data,
                    columns: [
                        { data: "teamnum" },
                        { data: "MatchesPlayed" },
                        { data: "mobility" },
                        { data: "defending" },
                        { data: "startingpos" },
                        { data: "autoncoral1" },
                        { data: "autoncoral2" },
                        { data: "autoncoral3" },
                        { data: "autoncoral4" },
                        { data: "autonalgaepro" },
                        { data: "autonalgaenet" },
                        { data: "telecoral1" },
                        { data: "telecoral2" },
                        { data: "telecoral3" },
                        { data: "telecoral4" },
                        { data: "telealgaepro" },
                        { data: "telealgaenet" },
                        { data: "humanplayer" },
                        { data: "groundpickup" },
                        { data: "feeder" },
                    ]
                });
            });
        });
    </script>
</body>
</html>
